body{
	background-image: url('../img/footer_lodyas.png');
}

.jumbotron{
	background-color: #005c99;
	color: white;
}

.panel-heading{
	background-color: #005c99 !important;
	color: white !important;
}

.navbar{
	background-color: #b3d9ff;
}

.navbar-brand:link {
	color: #005c99 !important;
}
.navbar-brand:visited {
	color: red !important;
}
.navbar-brand:hover, .navbar-brand:active {
	color: black !important;
}

#navbar li a:link {
	color: #005c99 !important;
}
#navbar li a:visited {
	color: red !important;
}
#navbar li a:hover, #navbar li a:active {
	color: black !important;
}